{
  "presets":["es2015", "stage-0", "react"],
  "plugins": ["transform-object-rest-spread",
                    ["css-modules-transform", {
                        "preprocessCss": "./src/sass-loader.js",
                        "generateScopedName": "[hash:8]",
                        "extensions": [".scss"]
                    }]
              ]
}